$devMode: false;

$breakpoints: (
  s: 320px,
  sm: 480px,
  m: 768px,
  l: 1024px,
  x: 1366px,
  xl: 1920px,
);

@mixin from($bp) {
  @if (map-has-key($breakpoints, $bp)) {
    @media screen and (min-width: map-get($breakpoints, $bp)) {
      @content;
    }
  } @else {
    @media screen and (min-width: $bp) {
      @content;
    }
  }
}
@mixin debug($color) {
  border: 1px solid $color;
}

:root {
  --just-black: #000000;
  --soft-blue: #5928e5;
  --soft-pink: #fed9da;
  --just-white: #ffffff;
  --font-cantarell: 'Cantarell', sans-serif;
  --font-exo: 'Exo', sans-serif;
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  margin-block-start: 100px;
  font-family: var(--font-cantarell);
  background-color: var(--soft-pink);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}

h1,
h1,
h3,
h4,
h5,
h6 {
  font-family: var(--font-exo);
}
img {
  max-inline-size: 100%;
}
.wrapper {
  max-inline-size: 1200px;
  margin: auto;
}
.overlay {
  position: fixed;
  inline-size: 100%;
  inset-block-start: 0;
  inset-block-end: 0;
  inset-inline-start: 0;
  inset-inline-end: 0;
  display: none;
  background-color: hsla(0, 0%, 0%, 0.376);
  z-index: 1000;
  &.active {
    display: block;
  }
  @include from(l) {
    display: none;
  }
}

.header {
  position: fixed;
  inset-block-start: 0;
  inset-inline-start: 0;
  inset-inline-end: 0;
  background-color: var(--soft-pink);
  z-index: 99999;
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: 16px;
  padding-block: 16px;
  @include from(l) {
    .btn {
      display: flex;
      justify-content: space-between;
      inline-size: 229px;
    }
  }
}

.navigation {
  &__list {
    position: fixed;
    inset-inline-start: 0;
    inset-inline-end: 20%;
    inset-block-start: 11.5%;
    inset-block-end: 0;
    padding-inline-start: 24px;
    transform: translatex(-100%);
    background-color: var(--just-white);
    transition: all 0.3s ease-in-out;
  }
  &__item {
    margin-block-end: 56px;
    padding-block-start: 28px;
  }
  &__item a {
    color: var(--just-black);
    font-family: var(--font-exo);
    font-size: 24px;
    font-weight: 700;
    opacity: 0.5;
    text-transform: capitalize;
  }
  &__item a:hover,
  &__item a:active {
    color: var(--just-black);
    opacity: 1;
  }
  &.active &__list {
    transform: translateX(0);
    transition: all 0.3s ease-in-out;
  }
  @include from(m) {
    &__list {
      position: initial;
      display: flex;
      transform: translateX(0);
      background-color: transparent;
    }
    &__item {
      margin: 0;
      padding-block: 0;
      padding-inline: 20px;
    }
    &__item a {
      font-size: 16px;
      color: var(--soft-blue);
    }
  }
}
.icon-menu {
  box-sizing: border-box;
  position: relative;
  inline-size: 34px;
  block-size: 34px;
  &.active .line {
    background-color: transparent;
    transition: all 0.3s ease-in-out;
  }
  &.active .line::before {
    inset-block-start: 0;
    transform: rotate(45deg);
    transition: all 0.3s ease-in-out;
  }
  &.active .line::after {
    inset-block-end: 0;
    transform: rotate(-45deg);
    transition: all 0.3s ease-in-out;
  }
  @include from(m) {
    display: none;
  }
}
.line {
  position: absolute;
  inline-size: 100%;
  block-size: 3px;
  top: 50%;
  transform: translatey(-50%);
  background-color: var(--soft-blue);
  &::before {
    content: '';
    position: absolute;
    display: block;
    inline-size: 100%;
    block-size: 3px;
    background-color: var(--soft-blue);
    inset-block-start: -250%;
  }
  &::after {
    content: '';
    position: absolute;
    display: block;
    inline-size: 100%;
    block-size: 3px;
    background-color: var(--soft-blue);
    inset-block-end: -250%;
  }
}

/* Hero */
.hero-content {
  margin-inline: 16px;
  padding-block: 50px;
  text-align: center;
  h1 span {
    display: block;
    color: var(--soft-blue);
    font-size: 34px;
    line-height: 30px;
  }
  p {
    margin-block: 40px;
    font-size: 18px;
    line-height: 27px;
  }
  @include from(m) {
    h1 span {
      font-size: 50px;
      line-height: 60px;
    }
    p {
      padding-inline: 200px;
    }
  }
  @include from(l) {
    padding-block: 100px;
    h1 span {
      font-size: 100px;
      line-height: 93px;
    }
    p {
      padding-inline: 350px;
    }
  }
}
.about {
  display: grid;
  text-align: initial;
  margin-block-start: 85px;
  .box svg {
    inline-size: 32px;
    block-size: 32px;
  }
  h3 {
    margin-block: 24px;
    font-size: 24px;
    line-height: 28px;
  }
  @include from(sm) {
    padding-inline: 50px;
  }
  @include from(m) {
    padding-inline: 0;
    grid-template-columns: repeat(2, 250px);
    justify-content: center;
    gap: 24px;
    .box:last-child {
      grid-column: span 2;
    }
  }

  @include from(x) {
    grid-template-columns: repeat(3, 351px);
    justify-content: center;
    gap: 24px;
    padding-inline: 0;
    .box:last-child {
      grid-column: span 1;
    }
  }
}
/* Hero End*/

/*Projects */
.projects {
  background-color: var(--just-white);
}
.projects-content {
  margin-inline: 16px;
  padding-block: 40px;
  h2 {
    text-align: center;
    color: var(--soft-blue);
    font-size: 32px;
  }
  ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-block-start: 24px;
    margin-block-end: 64px;
  }
  ul li {
    padding-block: 12px;
    padding-inline: 24px;
  }
  ul li a {
    font-weight: 700;
  }
  ul li:active {
    background-color: var(--soft-pink);
  }
  @include from(sm) {
    padding-inline: 50px;
  }
  @include from(l) {
    h2 {
      font-size: 100px;
      line-height: 93px;
      margin-block-start: 85px;
      margin-block-end: 40px;
    }
    ul {
      justify-content: center;
      gap: 16px;
      margin-block-end: 128px;
    }
  }
}
.project {
  margin-inline-end: 15px;
  margin-block-end: 96px;
  &__image {
    position: relative;
    inset-block-start: 50px;
    inset-inline-start: 16px;
    z-index: 20;
  }
  &__description {
    position: relative;
    z-index: 10;
  }
  @include from(l) {
    inline-size: 80%;
    margin-block-end: 200px;
  }
}
.description-content {
  padding-inline: 24px;
  padding-block: 64px;
  background-color: var(--soft-pink);
  &::before {
    content: '';
    position: absolute;
    display: block;
    inline-size: 100%;
    block-size: 100%;
    background-color: var(--soft-blue);
    inset-block-start: 16px;
    inset-block-end: 0;
    inset-inline-start: 16px;
    inset-inline-end: 0;
    z-index: -999;
  }
  h3 {
    margin-block: 0;
    color: var(--soft-blue);
    font-size: 32px;
    box-sizing: border-box;
    text-transform: uppercase;
  }
  p {
    font-size: 18px;
    line-height: 27px;
    font-weight: 500;
  }
  .buttons .btn {
    inline-size: 100%;
    margin-block-end: 16px;
  }
  @include from(m) {
    .buttons {
      display: flex;
      gap: 16px;
    }
    .buttons .btn {
      inline-size: 158px;
    }
  }
  @include from(l) {
    // inline-size: 80%;
    // &::before {
    //   inline-size: 84.5%;
    // }
  }
}
/*Projects End*/

/* Contact */
.contact-content {
  margin-inline: 16px;
  padding-block: 64px;
  text-align: center;
  h3 {
    margin-block: 0;
    color: var(--soft-blue);
    font-size: 32px;
  }
  @include from(sm) {
    padding-inline: 50px;
  }
  @include from(m) {
    padding-inline: 150px;
  }
  @include from(l) {
    padding-inline: 350px;
    h3 {
      font-size: 48px;
      line-height: 77px;
    }
  }
}
form {
  .form-group input,
  .form-group textarea {
    box-sizing: border-box;
    inline-size: 100%;
    margin-block-end: 16px;
    padding-inline: 10px;
    padding-block: 12px;
    border: none;
    font-family: var(--font-cantarell);
    font-size: 18px;
    font-weight: 500;
    color: var(--soft-blue);
  }
  .form-group input::placeholder,
  .form-group textarea::placeholder {
    color: var(--soft-blue);
  }
}
/* Contact End*/

/* Footer */
.shadow-blur {
  position: absolute;
  inline-size: 200px;
  block-size: 200px;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(246, 62, 182, 0.5) 0%,
    rgba(191, 53, 142, 0) 100%
  );
  inset-block-end: 0;
  inset-inline-start: 50%;
  transform: translate(-50%);
}
.footer {
  position: relative;
  background-color: var(--soft-blue);
  color: var(--just-white);
}
.footer-content {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-inline: 16px;
  padding-block: 48px;
  h5 {
    font-size: 24px;
    margin-block: 0;
  }
  .feed-contact ul {
    margin-block-start: 32px;
  }
  .feed-contact li {
    margin-block-end: 32px;
    display: flex;
    align-items: center;
  }
  .feed-contact img {
    margin-inline-end: 8px;
  }
  .feed-contact a {
    color: var(--just-white);
    font-size: 18px;
    font-weight: 500;
    text-decoration: underline;
  }
  .about-contact p {
    margin-block: 0;
  }
  .about-contact p span {
    display: block;
    font-size: 18px;
    line-height: 27px;
  }
  .about-contact p span + span {
    margin-block-start: 8px;
  }
  .about-contact svg {
    inline-size: 99px;
    block-size: 56px;
    margin-block-start: 40px;
    margin-block-end: 30px;
  }
  @include from(sm) {
    padding-inline: 50px;
  }
  @include from(m) {
    padding-inline: 0;
    flex-direction: row;
    justify-content: space-between;
    .about-contact {
      text-align: end;
    }
  }
  @include from(l) {
    .about-contact p span {
      display: inline-block;
    }
    .about-contact svg {
      margin-block-start: 0;
    }
  }
}
/* Footer End*/

/* Testimonials */
.testimonials {
  background-color: var(--just-white);
}
.testimonials-content {
  margin-inline: 16px;
  padding-block: 16px;
  h2 {
    margin: 0;
    text-align: center;
    color: var(--soft-blue);
    font-size: 32px;
    margin-block-end: 40px;
  }
  .image {
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 0;
    z-index: 20;
  }
  @include from(sm) {
    padding-inline: 50px;
  }
  @include from(l) {
    padding-block-start: 150px;
    padding-inline: 0;
    h2 {
      font-size: 100px;
      line-height: 93px;
      margin-block-end: 96px;
    }
  }
}
.card-testimonial {
  position: relative;
  padding-block: 40px;
  padding-inline-start: 28px;
  margin-inline-end: 16px;
  .image {
    inline-size: 20%;
  }
  &__content {
    padding-block: 64px;
    padding-inline: 24px;
    background-color: var(--soft-pink);
  }
  &__content h3 {
    margin-block-start: 0;
    margin-block-end: 16px;
    font-size: 32px;
    text-transform: capitalize;
  }
  &__content p {
    margin: 0;
    font-size: 18px;
    line-height: 27px;
  }

  &__content::before {
    content: '';
    position: absolute;
    inset-block-start: 16px;
    inset-inline-start: 16px;
    display: block;
    inline-size: 100%;
    block-size: 100%;
    background-color: var(--soft-blue);
    z-index: -99;
  }
  @include from(l) {
    &__content {
      padding-inline-start: 70px;
    }
  }
}
.testimonials-cards {
  display: grid;
  @include from(l) {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
  @include from(x) {
    grid-template-columns: repeat(2, 522px);
    column-gap: 96px;
    row-gap: 40px;
  }
}
.content {
  position: relative;
  z-index: 10;
}
/* Testimonials End */

/* Buttons */
.btn {
  padding-inline: 24px;
  padding-block: 12px;
  border: none;
  font-family: var(--font-cantarell);
  font-size: 16px;
  font-weight: 700;
  &:active {
    transform: scale(0.98);
  }
}
.btn--soft-blue {
  background-color: var(--soft-blue);
  color: #fff;
}
.btn--initial {
  border: 1px solid var(--soft-blue);
  background-color: transparent;
  color: var(--soft-blue);
}
.btn--soft-pink {
  background-color: var(--soft-pink);
  color: var(--soft-blue);
}
.btn--initial-pink {
  background-color: transparent;
  border: 1px solid var(--soft-pink);
  color: var(--soft-pink);
}

.btn span:first-child {
  display: none;
  @include from(l) {
    display: block;
  }
}
.logo-box {
  display: flex;
  gap: 16px;
}
/* Buttons End*/
.projects-content {
  @include from(l) {
    display: flex;
    flex-direction: column;
  }
}
.r-side {
  .project__description .description-content {
    background-color: var(--soft-blue);
    color: var(--just-white);
    h3 {
      color: var(--soft-pink);
    }
  }
  .project__description .description-content::before {
    background-color: var(--soft-pink);
  }
  @include from(l) {
    align-self: flex-end;
    position: relative;
    .project__image {
      // position: absolute;
      position: relative;
      inline-size: 30%;
      // inset-block-start: -150px;
      inset-block-start: 50px;
      inset-inline-start: 470px;
    }
  }

  @include from(x) {
    margin-inline: 0;
    align-self: flex-end;
    .project__image {
      position: absolute;
      inline-size: 30%;
      inset-block-start: -100px;
      inset-inline-start: 770px;
    }
    .project__description {
      background-color: var(--soft-blue);
    }

    .project__description .description-content {
      padding-inline-end: 100px;
    }
    .project__description .description-content::before {
      inset-inline-start: -16px;
    }
  }
}
.l-side {
  @include from(l) {
    .project__image {
      inline-size: 30%;
    }
  }
  @include from(x) {
    margin-inline: 0;
    position: relative;
    .project__image {
      position: absolute;
      inset-block-start: -100px;
      inset-inline-start: -170px;
    }
    .project__description .description-content {
      padding-inline-start: 100px;
    }
  }
}
.bg-soft-blue {
  .card-testimonial__content {
    background-color: var(--soft-blue);
    color: var(--just-white);
    &::before {
      background-color: var(--soft-pink);
    }
  }
  @include from(x) {
  }
}
.card-testimonial:nth-child(3) {
  @include from(l) {
    grid-column: 2 / 3;
  }
}
.card-testimonial:nth-child(4) {
  @include from(l) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
}
