:root {
  --just-black: #000000;
  --soft-blue: #5928e5;
  --soft-pink: #fed9da;
  --just-white: #ffffff;
  --font-cantarell: "Cantarell", sans-serif;
  --font-exo: "Exo", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  margin-block-start: 100px;
  font-family: var(--font-cantarell);
  background-color: var(--soft-pink);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h1,
h3,
h4,
h5,
h6 {
  font-family: var(--font-exo);
}

img {
  max-inline-size: 100%;
}

.wrapper {
  max-inline-size: 1200px;
  margin: auto;
}

.overlay {
  position: absolute;
  inline-size: 100%;
  inset-block-start: 0;
  inset-block-end: 0;
  inset-inline-start: 0;
  inset-inline-end: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.376);
}
.overlay.active {
  display: block;
}
@media screen and (min-width: 1024px) {
  .overlay {
    display: none;
  }
}

.header {
  position: fixed;
  inset-block-start: 0;
  inset-inline-start: 0;
  inset-inline-end: 0;
  background-color: var(--soft-pink);
  z-index: 99999;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: 16px;
  padding-block: 16px;
}
@media screen and (min-width: 1024px) {
  .header-content .btn {
    display: flex;
    justify-content: space-between;
    inline-size: 229px;
  }
}

.navigation__list {
  position: fixed;
  inset-inline-start: 0;
  inset-inline-end: 20%;
  inset-block-start: 11.5%;
  inset-block-end: 0;
  padding-inline-start: 24px;
  transform: translatex(-100%);
  background-color: var(--just-white);
  transition: all 0.3s ease-in-out;
}
.navigation__item {
  margin-block-end: 56px;
  padding-block-start: 28px;
}
.navigation__item a {
  color: var(--just-black);
  font-family: var(--font-exo);
  font-size: 24px;
  font-weight: 700;
  opacity: 0.5;
  text-transform: capitalize;
}
.navigation__item a:hover, .navigation__item a:active {
  color: var(--just-black);
  opacity: 1;
}
.navigation.active .navigation__list {
  transform: translateX(0);
  transition: all 0.3s ease-in-out;
}
@media screen and (min-width: 768px) {
  .navigation__list {
    position: initial;
    display: flex;
    transform: translateX(0);
    background-color: transparent;
  }
  .navigation__item {
    margin: 0;
    padding-block: 0;
    padding-inline: 20px;
  }
  .navigation__item a {
    font-size: 16px;
    color: var(--soft-blue);
  }
}

.icon-menu {
  box-sizing: border-box;
  position: relative;
  inline-size: 34px;
  block-size: 34px;
}
.icon-menu.active .line {
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}
.icon-menu.active .line::before {
  inset-block-start: 0;
  transform: rotate(45deg);
  transition: all 0.3s ease-in-out;
}
.icon-menu.active .line::after {
  inset-block-end: 0;
  transform: rotate(-45deg);
  transition: all 0.3s ease-in-out;
}
@media screen and (min-width: 768px) {
  .icon-menu {
    display: none;
  }
}

.line {
  position: absolute;
  inline-size: 100%;
  block-size: 3px;
  top: 50%;
  transform: translatey(-50%);
  background-color: var(--soft-blue);
}
.line::before {
  content: "";
  position: absolute;
  display: block;
  inline-size: 100%;
  block-size: 3px;
  background-color: var(--soft-blue);
  inset-block-start: -250%;
}
.line::after {
  content: "";
  position: absolute;
  display: block;
  inline-size: 100%;
  block-size: 3px;
  background-color: var(--soft-blue);
  inset-block-end: -250%;
}

/* Hero */
.hero-content {
  margin-inline: 16px;
  padding-block: 50px;
  text-align: center;
}
.hero-content h1 span {
  display: block;
  color: var(--soft-blue);
  font-size: 34px;
  line-height: 30px;
}
.hero-content p {
  margin-block: 40px;
  font-size: 18px;
  line-height: 27px;
}
@media screen and (min-width: 768px) {
  .hero-content h1 span {
    font-size: 50px;
    line-height: 60px;
  }
  .hero-content p {
    padding-inline: 200px;
  }
}
@media screen and (min-width: 1024px) {
  .hero-content {
    padding-block: 100px;
  }
  .hero-content h1 span {
    font-size: 100px;
    line-height: 93px;
  }
  .hero-content p {
    padding-inline: 350px;
  }
}

.about {
  display: grid;
  text-align: initial;
  margin-block-start: 85px;
}
.about .box svg {
  inline-size: 32px;
  block-size: 32px;
}
.about h3 {
  margin-block: 24px;
  font-size: 24px;
  line-height: 28px;
}
@media screen and (min-width: 480px) {
  .about {
    padding-inline: 50px;
  }
}
@media screen and (min-width: 768px) {
  .about {
    padding-inline: 0;
    grid-template-columns: repeat(2, 250px);
    justify-content: center;
    gap: 24px;
  }
  .about .box:last-child {
    grid-column: span 2;
  }
}
@media screen and (min-width: 1366px) {
  .about {
    grid-template-columns: repeat(3, 351px);
    justify-content: center;
    gap: 24px;
    padding-inline: 0;
  }
  .about .box:last-child {
    grid-column: span 1;
  }
}

/* Hero End*/
/*Projects */
.projects {
  background-color: var(--just-white);
}

.projects-content {
  margin-inline: 16px;
  padding-block: 40px;
}
.projects-content h2 {
  text-align: center;
  color: var(--soft-blue);
  font-size: 32px;
}
.projects-content ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-block-start: 24px;
  margin-block-end: 64px;
}
.projects-content ul li {
  padding-block: 12px;
  padding-inline: 24px;
}
.projects-content ul li a {
  font-weight: 700;
}
.projects-content ul li:active {
  background-color: var(--soft-pink);
}
@media screen and (min-width: 480px) {
  .projects-content {
    padding-inline: 50px;
  }
}
@media screen and (min-width: 1024px) {
  .projects-content h2 {
    font-size: 100px;
    line-height: 93px;
    margin-block-start: 85px;
    margin-block-end: 40px;
  }
  .projects-content ul {
    justify-content: center;
    gap: 16px;
    margin-block-end: 128px;
  }
}

.project {
  margin-inline-end: 15px;
  margin-block-end: 96px;
}
.project__image {
  position: relative;
  inset-block-start: 50px;
  inset-inline-start: 16px;
  z-index: 20;
}
.project__description {
  position: relative;
  z-index: 10;
}
@media screen and (min-width: 1024px) {
  .project {
    inline-size: 80%;
    margin-block-end: 200px;
  }
}

.description-content {
  padding-inline: 24px;
  padding-block: 64px;
  background-color: var(--soft-pink);
}
.description-content::before {
  content: "";
  position: absolute;
  display: block;
  inline-size: 100%;
  block-size: 100%;
  background-color: var(--soft-blue);
  inset-block-start: 16px;
  inset-block-end: 0;
  inset-inline-start: 16px;
  inset-inline-end: 0;
  z-index: -999;
}
.description-content h3 {
  margin-block: 0;
  color: var(--soft-blue);
  font-size: 32px;
  box-sizing: border-box;
  text-transform: uppercase;
}
.description-content p {
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
}
.description-content .buttons .btn {
  inline-size: 100%;
  margin-block-end: 16px;
}
@media screen and (min-width: 768px) {
  .description-content .buttons {
    display: flex;
    gap: 16px;
  }
  .description-content .buttons .btn {
    inline-size: 158px;
  }
}
/*Projects End*/
/* Contact */
.contact-content {
  margin-inline: 16px;
  padding-block: 64px;
  text-align: center;
}
.contact-content h3 {
  margin-block: 0;
  color: var(--soft-blue);
  font-size: 32px;
}
@media screen and (min-width: 480px) {
  .contact-content {
    padding-inline: 50px;
  }
}
@media screen and (min-width: 768px) {
  .contact-content {
    padding-inline: 150px;
  }
}
@media screen and (min-width: 1024px) {
  .contact-content {
    padding-inline: 350px;
  }
  .contact-content h3 {
    font-size: 48px;
    line-height: 77px;
  }
}

form .form-group input,
form .form-group textarea {
  box-sizing: border-box;
  inline-size: 100%;
  margin-block-end: 16px;
  padding-inline: 10px;
  padding-block: 12px;
  border: none;
  font-family: var(--font-cantarell);
  font-size: 18px;
  font-weight: 500;
  color: var(--soft-blue);
}
form .form-group input::placeholder,
form .form-group textarea::placeholder {
  color: var(--soft-blue);
}

/* Contact End*/
/* Footer */
.footer {
  background-color: var(--soft-blue);
  color: var(--just-white);
}

.footer-content {
  display: flex;
  flex-direction: column;
  margin-inline: 16px;
  padding-block: 48px;
}
.footer-content h5 {
  font-size: 24px;
  margin-block: 0;
}
.footer-content .feed-contact ul {
  margin-block-start: 32px;
}
.footer-content .feed-contact li {
  margin-block-end: 32px;
  display: flex;
  align-items: center;
}
.footer-content .feed-contact img {
  margin-inline-end: 8px;
}
.footer-content .feed-contact a {
  color: var(--just-white);
  font-size: 18px;
  font-weight: 500;
  text-decoration: underline;
}
.footer-content .about-contact p {
  margin-block: 0;
}
.footer-content .about-contact p span {
  display: block;
  font-size: 18px;
  line-height: 27px;
}
.footer-content .about-contact p span + span {
  margin-block-start: 8px;
}
.footer-content .about-contact svg {
  inline-size: 99px;
  block-size: 56px;
  margin-block-start: 40px;
  margin-block-end: 30px;
}
@media screen and (min-width: 480px) {
  .footer-content {
    padding-inline: 50px;
  }
}
@media screen and (min-width: 768px) {
  .footer-content {
    padding-inline: 0;
    flex-direction: row;
    justify-content: space-between;
  }
  .footer-content .about-contact {
    text-align: end;
  }
}
@media screen and (min-width: 1024px) {
  .footer-content .about-contact p span {
    display: inline-block;
  }
}

/* Footer End*/
/* Testimonials */
.testimonials {
  background-color: var(--just-white);
}

.testimonials-content {
  margin-inline: 16px;
  padding-block: 16px;
}
.testimonials-content h2 {
  margin: 0;
  text-align: center;
  color: var(--soft-blue);
  font-size: 32px;
  margin-block-end: 40px;
}
.testimonials-content .image {
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  z-index: 20;
}
@media screen and (min-width: 480px) {
  .testimonials-content {
    padding-inline: 50px;
  }
}
@media screen and (min-width: 1024px) {
  .testimonials-content {
    padding-block-start: 150px;
    padding-inline: 0;
  }
  .testimonials-content h2 {
    font-size: 100px;
    line-height: 93px;
    margin-block-end: 96px;
  }
}

.card-testimonial {
  position: relative;
  padding-block: 40px;
  padding-inline-start: 28px;
  margin-inline-end: 16px;
}
.card-testimonial .image {
  inline-size: 20%;
}
.card-testimonial__content {
  padding-block: 64px;
  padding-inline: 24px;
  background-color: var(--soft-pink);
}
.card-testimonial__content h3 {
  margin-block-start: 0;
  margin-block-end: 16px;
  font-size: 32px;
  text-transform: capitalize;
}
.card-testimonial__content p {
  margin: 0;
  font-size: 18px;
  line-height: 27px;
}
.card-testimonial__content::before {
  content: "";
  position: absolute;
  inset-block-start: 16px;
  inset-inline-start: 16px;
  display: block;
  inline-size: 100%;
  block-size: 100%;
  background-color: var(--soft-blue);
  z-index: -99;
}
@media screen and (min-width: 1024px) {
  .card-testimonial__content {
    padding-inline-start: 70px;
  }
}

.testimonials-cards {
  display: grid;
}
@media screen and (min-width: 1024px) {
  .testimonials-cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
}
@media screen and (min-width: 1366px) {
  .testimonials-cards {
    grid-template-columns: repeat(2, 522px);
    column-gap: 96px;
    row-gap: 40px;
  }
}

.content {
  position: relative;
  z-index: 10;
}

/* Testimonials End */
/* Buttons */
.btn {
  padding-inline: 24px;
  padding-block: 12px;
  border: none;
  font-family: var(--font-cantarell);
  font-size: 16px;
  font-weight: 700;
}
.btn:active {
  transform: scale(0.98);
}

.btn--soft-blue {
  background-color: var(--soft-blue);
  color: #fff;
}

.btn--initial {
  border: 1px solid var(--soft-blue);
  background-color: transparent;
  color: var(--soft-blue);
}

.btn--soft-pink {
  background-color: var(--soft-pink);
  color: var(--soft-blue);
}

.btn--initial-pink {
  background-color: transparent;
  border: 1px solid var(--soft-pink);
  color: var(--soft-pink);
}

.btn span:first-child {
  display: none;
}
@media screen and (min-width: 1024px) {
  .btn span:first-child {
    display: block;
  }
}

.logo-box {
  display: flex;
  gap: 16px;
}

/* Buttons End*/
@media screen and (min-width: 1024px) {
  .projects-content {
    display: flex;
    flex-direction: column;
  }
}

.r-side .project__description .description-content {
  background-color: var(--soft-blue);
  color: var(--just-white);
}
.r-side .project__description .description-content h3 {
  color: var(--soft-pink);
}
.r-side .project__description .description-content::before {
  background-color: var(--soft-pink);
}
@media screen and (min-width: 1024px) {
  .r-side {
    align-self: flex-end;
    position: relative;
  }
  .r-side .project__image {
    position: relative;
    inline-size: 30%;
    inset-block-start: 50px;
    inset-inline-start: 470px;
  }
}
@media screen and (min-width: 1366px) {
  .r-side {
    margin-inline: 0;
    align-self: flex-end;
  }
  .r-side .project__image {
    position: absolute;
    inline-size: 30%;
    inset-block-start: -100px;
    inset-inline-start: 770px;
  }
  .r-side .project__description {
    background-color: var(--soft-blue);
  }
  .r-side .project__description .description-content {
    padding-inline-end: 100px;
  }
  .r-side .project__description .description-content::before {
    inset-inline-start: -16px;
  }
}

@media screen and (min-width: 1024px) {
  .l-side .project__image {
    inline-size: 30%;
  }
}
@media screen and (min-width: 1366px) {
  .l-side {
    margin-inline: 0;
    position: relative;
  }
  .l-side .project__image {
    position: absolute;
    inset-block-start: -100px;
    inset-inline-start: -170px;
  }
  .l-side .project__description .description-content {
    padding-inline-start: 100px;
  }
}

.bg-soft-blue .card-testimonial__content {
  background-color: var(--soft-blue);
  color: var(--just-white);
}
.bg-soft-blue .card-testimonial__content::before {
  background-color: var(--soft-pink);
}
@media screen and (min-width: 1024px) {
  .card-testimonial:nth-child(3) {
    grid-column: 2/3;
  }
}

@media screen and (min-width: 1024px) {
  .card-testimonial:nth-child(4) {
    grid-column: 1/2;
    grid-row: 2/3;
  }
}

/*# sourceMappingURL=styles.css.map */
